@{
    ViewBag.Title = "Service Page";
}

@ViewBag.data;
<script>
    function getJson() {
        var data = $("#data").val();
        $.post("/Service", "data="+data, function (response) {
            alert(response);
        });
    }
</script>
<br /><input id="data" />   
<div style="border:2px black solid; padding:5px; width:100px; margin:5px; cursor:pointer" onclick="getJson()">Json</div> 
