@using StarWars.Infrastructure
@{string imageUrl = "Content/" + (Model.Fraction == Fraction.Empire? "empire.png" : "rebels.jpg");}
<div class="header">
    <img src="@imageUrl"/>
    <p class="fraction-name">@Model.Fraction.ToString()</p>
</div>

